<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client details</title>
    <style type="text/css">
        TABLE {
            width: 300px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid #000000; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<body>
<h1>Client</h1>
<table>
    <tr>
        <td>
            <form th:method="GET" th:action="@{/clients/connect/{id}(id=${client.id})}">
                <input type="submit" value="Connect"/>
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/clients/disconnect/{id}(id=${client.id})}">
                <input type="submit" value="Disconnect"/>
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="${server}==null ? @{/clients/drop/{id}(id=${client.id})} : @{/servers/details/{server_port}/pool/drop/{id}(id=${client.id},
        server_port=${server.localPort})}">
                <input type="submit" value="Drop"/>
            </form>
        </td>
        <!--        <td>-->
        <!--            <form th:method="GET" th:action="@{}">-->
        <!--                <input type="submit" value="Add Task"/>-->
        <!--            </form>-->
        <!--        </td>-->
        <!--        <td>-->
        <!--            <form th:method="GET" th:action="@{}">-->
        <!--                <input type="submit" value="Add Handler"/>-->
        <!--            </form>-->
        <!--        </td>-->
    </tr>
</table>
<a href="/clients/all">Show all clients</a>
<br>
<br>
<table id="clientDetails">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Local port</th>
        <th>Remote port</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.getClientConnection().getLocalPort()}"></td>
        <td th:text="${client.getClientConnection().getRemotePort()}"></td>
        <td th:text="${client.isConnected()} ? 'connected' : 'disconnected'"></td>
    </tr>
    </tbody>
</table>
<br>
<h3>Handlers</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="handler : ${client.getHandlerContainer().getAll()}">
        <td th:text="${handler.getIdentifier()}"></td>
    </tr>
    </tbody>
</table>
<br>
<h3>Tasks</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${client.getTaskContainer().getAll()}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.isDone()} ? 'done' : 'executing'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>